{{template "header.html" .S}}

<h4>Dashboard</h4>

<div class="row">
<div class="span8 offset2">
	<ul class="nav nav-tabs nav-stacked">
		{{if eq .S.Role "admin" "moderator"}}
		<li><a href="/new/"><i class="icon-book"></i> New books</a></li>
		{{if eq .S.Role "admin"}}
		<li><a href="/news/edit"><i class="icon-certificate"></i> Edit news</a></li>
		{{end}}
		<li class="divider"></li>
		{{end}}
		<li><a href="/settings/"><i class="icon-wrench"></i> Settings</a></li>
		<li class="divider"></li>
		<li><a href="/logout/"><i class="icon-off"></i> Log Out</a></li>
	</ul>
</div>
</div>

{{if .Lists}}
<br />
<h4>My book lists</h4>
<div class="row">
<div class="span8 offset2">
	<ul class="nav nav-tabs nav-stacked">
{{range .Lists}}
	<li><a href="/list/{{.ListID}}">{{.Title}} ({{len .Books}})</a></li>
{{end}}
	</ul>
</div>
</div>
{{end}}

{{template "footer.html"}}
